<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>296550054766-gmq036brat76oakls6hegphad5ld677p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.296550054766-gmq036brat76oakls6hegphad5ld677p</string>
	<key>API_KEY</key>
	<string>AIzaSyDSv8szEnWtGn1Dtq-QyRhyzYXkLUOTArw</string>
	<key>GCM_SENDER_ID</key>
	<string>296550054766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smartData.MEH</string>
	<key>PROJECT_ID</key>
	<string>meh-support-d24ca</string>
	<key>STORAGE_BUCKET</key>
	<string>meh-support-d24ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296550054766:ios:2ef8d9542588e53879df7f</string>
</dict>
</plist>